.prodCarrito {
font-size: 50px;
padding: 30px;
border-radius: 10px;
margin: 2rem;
border: 3px solid rgba(225, 116, 116, 0.991);
text-align: center;
}
.verProd {
font-size: 25px;
padding: 30px;
border-radius: 110px;
margin: 5rem;
text-align: center;
color: rgb(255, 255, 255);
background-color: brown;
font-family: 'Orbitron', sans-serif;
}
.verProd:hover{
    color: aliceblue;
    background-color: rgb(78, 75, 75);
    border: 3px solid rgba(233, 201, 201, 0.991);
}
.total {
    color: aliceblue;
    font-size: 30px;
    background-color: brown;
    padding: 25px;
    text-align: center;
    border-radius: 30px;
}

