.verDet {
    margin: 1rem;
    padding: 15px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(178, 55, 55);
}
.verDet:hover{
    color: aliceblue;
    background-color: rgb(78, 75, 75);
    border: 3px solid rgba(233, 201, 201, 0.991);
}

.imgProducto {
    width: 24rem;
    padding: 2px;
    margin-top: 4rem;
    transition: 1s;
}
.imgProducto:hover {
    filter: saturate(300%);
}
.cardProducto {
    background-color: rgb(26, 18, 18);
    border-radius: 15px;
    box-shadow: 2px 2px inset;
    margin: auto;
    padding: 10px;
    width: 24rem;
    height: 37rem;
}
.nameCard {
    font-size: 35px;

}
